#container{
    margin: 20px;
    padding: 10px;
    position: relative;
}
#clockdiv{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    
}
#showTime{
    color: red;
    display: flex;
   justify-content: center;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }